* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #393f4d;
  grid-column: 1 / 3;
}

.logo {
  justify-self: start;
}

.menu {
  align-self: center;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  display: grid;
  gap: 50px;
  background-color: #C50208;
  grid-area: 2 / 1 / 4 / 2;
}

.sidebar .photo {
  display: grid;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  background-color: #bccbde;
  grid-area: 3 / 2 / 4 / 3;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}